<footer class="footer pv2 ph3 ph0-l mw7-ns center">
    Made by <a target="_blank" href="https://twitter.com/kregenrek">@kregenrek</a>
    <span class="divider">|</span><a href="/privacy-policy">Privacy Policy</a>
</footer>
<script src="/{% if manifest["main.js"] %}{{ manifest["main.js"] }}{% else %}assets/main.js{% endif %}"></script>
