<footer class="footer mw5 mw7-ns center tc mv4">
    Made by <a target="_blank" href="https://twitter.com/kregenrek">@kregenrek</a>
    <span class="divider">|</span><a href="/privacy-policy">Privacy Policy</a>
    <span class="divider">|</span><a href="/terms-of-service">Terms of Service</a>
</footer>
<script src="/{% if manifest["main.js"] %}{{ manifest["main.js"] }}{% else %}assets/main.js{% endif %}"></script>
