<section>
	{% for post in postslist | reverse %}
		<article class="mv3 pv3 bb b--light-gray
" {% if post.url == url %} data-current="current item"{% endif %}>
			<div class="flex flex-row">
				<div class="w-40">
					<img src="http://placekitten.com/300/200" class="db" />
				</div>
				<div class="w-60 ph3">
					<div class="meta">
						<div class="tags dib">
							{% if post.data.tags %}
								<span>
									{% for tag in post.data.tags %}
										{%- if tag != "post" -%}
											{% set tagUrl %}/tags/{{ tag }}/{% endset %}
											<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
										{%- endif -%}
									{% endfor %}
								</span>
							{% endif %}
						</div>
						<time class="date dib gray" datetime="{{ post.date | machineDate }}">
							{{ post.date | readableDate }}
						</time>
					</div>
					<h3>
						<a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
								Untitled
                            {% endif %}
						</a>
					</h3>
				</div>
			</div>
		</article>
	{% endfor %}
</section>
