<section>
	{% for post in postslist | reverse %}
		<article class="mv3 pv3 bb b--light-gray
" {% if post.url == url %} data-current="current item"{% endif %}>
			<div class="flex flex-column flex-row-ns">
				<div class="w-40-ns">
					<img src="/assets/images/{{ post.data.image }}.png" class="w-100" alt="{{ post.data.image_alt }}" />
				</div>
				<div class="w-60-ns ph3">
					<div class="meta">
						<div class="tags dib">
							{% if post.data.tags %}
								<span>
									{% for tag in post.data.tags.slice(0, 3) %}
										{%- if tag != "post" -%}
											{% set tagUrl %}/tags/{{ tag }}/{% endset %}
											<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
										{%- endif -%}
									{% endfor %}
								</span>
							{% endif %}
						</div>
						<time class="date dib gray" datetime="{{ post.date | machineDate }}">
							{{ post.date | readableDate }}
						</time>
					</div>
					<h3 class="f4 f3-ns lh-title lh-copy-ns">
						<a href="{{ post.url | url }}">
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
								Untitled
                            {% endif %}
						</a>
					</h3>
				</div>
			</div>
		</article>
	{% endfor %}
</section>
