---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="sm:container-wide mx-auto mt-8 mb-24">
    <section class="pxo-05 lg:pxo-0">
        <p class="lh-copy mb-4 max-w-measure-wide">
            Hey! I'm Kevin Regenrek. Writing about my personal experiences and challenges building websites, browser apps and saas products with modern web technologies.
        </p>
        <p class="lh-copy mb-4 max-w-measure-wide">
            I'm a <b>software engineer</b>, founder and CEO located in <b>Austria</b>.
        </p>
        <p class="lh-copy mb-4 max-w-measure-wide">
            Spending my free time building open-source <a class="intext" href="https://github.com/regenrek" target="_blank">projects</a> and sharing the key findings it on my blog.
        </p>
    </section>
</div>

<div class="sm:container mx-auto">
    <section class="">
        {{ layoutContent | safe }}

        {% set postslist = collections.posts %}
        {{ collection.posts }}
        {% include "components/postslist.njk" %}
    </section>
</div>
