@import url("https://use.typekit.net/lvg5atf.css");


body {
	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: normal;
}

.fonts {
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: brandon-grotesque,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: italic;

	font-family: menco,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 700;
	font-style: italic;



	font-family: interstate,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: interstate,sans-serif;
	font-weight: 400;
	font-style: italic;

	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: italic;

    font-family: interstate-compressed,sans-serif;
    font-weight: 400;
    font-style: normal;


	font-family: interstate-compressed,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 400;
	font-style: italic;


    font-family: interstate-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 700;
	font-style: italic;

}
