---
layout: layouts/base.njk
section: post
---

<nav class="pa2 ph0-l mw7-ns mw8-l center">
  <span class="logo h1 mt0"><a href="/">.regenrek</a></span>
</nav>

<div class="mw7-ns mw8-l center">
  <figure data-aspect-ratio="16:9">
    <img src="/assets/images/{{ image }}@2x.png" alt="{{ image_alt }}" />
  </figure>
</div>

<article class="post-single">
  <header class="bg-white sans-serif">
    <div class="center ph3 ph0-l mw7-ns pt2 pt4-ns">
      <time datetime="{{ date | machineDate }}"><small>{{ date | readableDate }}</small></time>
      <h1 class="f3 f2-m f1-l measure-narrow lh-title mv0">
        <span class="lh-title tracked-tight">
          {{ title }}
        </span>
      </h1>
    </div>
  </header>

  <div class="center ph3 ph0-l mw7-ns">
    <p>
      {{ summary }}
    </p>
    {{ layoutContent | safe }}

  </div>

</article>

<nav class="center ph3 ph0-l mw7-ns">
  <a href="{{ '/' | url }}">← Blog index</a>
</nav>

<div class="center ph3 pt4 ph0-l mw7-ns">
  <div id="commento"></div>
</div>

{% include "components/newsletter.njk" %}