---
layout: layouts/base.njk
section: home
---

<section class="mw5 mw7-ns center pa3 ph5-ns">
    <h1 class="mt0">.regenrek</h1>
    <p class="lh-copy measure">
        Hey! I write about my personal experiences and challenges with building saas products.
    </p>
</section>


{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
