---
layout: layouts/base.njk
section: home
---

<div class="center contain mb0 mb5-ns relative">
    <section class="mw5 mw7-ns center pt5-ns pa3 ph5-ns">
        <h1 class="">.regenrek</h1>
        <p class="lh-copy measure">
            Hey! I write about my personal experiences and challenges building saas products with modern web technologies.
        </p>
    </section>
</div>

<div class="center mw7-ns">

    {{ layoutContent | safe }}

    {% set postslist = collections.posts %}
    {{ collection.posts }}
    {% include "components/postslist.njk" %}
</div>
