---
layout: layouts/base.njk
section: post
---

<article>
  <header class="bg-white sans-serif">
    <div class="mw9 center pa4 pt5-ns ph7-l">
      <time datetime="{{ date | machineDate }}"><small>{{ date | readableDate }}</small></time>
      <h1 class="text-xl font-semibold text-purple-200 f2 f1-m f-headline-l measure-narrow lh-title mv0">
        <span class="lh-copy pa1 tracked-tight">
          {{ title }}
        </span>
      </h1>
    </div>
  </header>

  <div class="pa4 ph7-l mw9-l center">
    <p class="f5 f4-ns lh-copy measure">
      {{ summary }}
    </p>
    {{ layoutContent | safe }}
  </div>


  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
