body {
    background-color: #fff;
    font-family: capitolium-news-2, serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.65;
}

@media screen and (min-width: 29em) {
    body {
        font-size: 1.10rem;
        line-height: 1.7;
    }
}

@responsive {
    .container,
    .container-wide {
        max-width: 42rem;
        @apply mx-auto;   
    }

    .container {
        @apply px-6;
    }
}

@screen lg {
    .container {
        @apply px-0;
    }
    
    .container-wide {
        max-width: 62rem;
    }    
}

.heading {
    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}



a {
    color: #000;
    text-decoration: none;
}



a, p, ul > li {
    font-weight: 300;
    color: #222;
}

ul {
    margin-left: 1.5rem;
    list-style-type: disc;
}

article.post-single a, .content a, .link, footer a {
    position: relative;
    color: var(--link-color);
}

article.post-single a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    left: 0;
    background-color: var(--link-color);
    transition: all 100ms ease-out;
    width: 100%;
    opacity: 0;
}

article a:hover:after {
    opacity: 1;
    /*background-image: linear-gradient(90deg,*/
        /*var(--primary-gradient-1),*/
        /*var(--primary-gradient-2)*/
    /*);*/
}

@media (--breakpoint-xl) {
    .f-headline-xl {
        font-size: var(--font-size-subheadline);
    }
}

article p {
    max-width: 30em;
    margin-bottom: 1rem;
}

@screen lg {
    article p {
        font-size: 18px;
    }
}


strong {
    font-weight: 600;
}

.tags > span > a,
.time{
    font-family: interstate;
    font-weight: 700;
    font-size: 16px;
}

.date {
    font-size: 12px;
    margin-left: 20px;
    position: relative;
}

.date:before {
    content: '';
    background-color: #eee;
    width: 2px;
    height: 100%;
    top: 0;
    left: -10px;
    bottom: 0;
    position: absolute;
}

footer {
    font-size: .85rem;
    .divider {
        display: inline-block;
        color: #999;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.shadow {
  box-shadow: 0 3px 8px rgba(0,0,0,.35);
}

/**
    IMAGES
 */

figure {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0;
}

figure > :first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate3d(-50%,-50%,0);
}

@mixin aspect-ratio($ratio-or-width, $height: 1) {
    &:before { content:''; float: left; padding-bottom: percentage($height/$ratio-or-width); }
    &:after  { content:''; display: table; clear: both;  }
}

[data-aspect-ratio="3:2"] {
    @include aspect-ratio(3,2);
}

[data-aspect-ratio="1:1"] {
    @include aspect-ratio(1,1);
}

[data-aspect-ratio="16:9"] {
    @include aspect-ratio(16,8);
}

/**
    Cookie Banner
 */

.cc-window {
    font-size: 12px;
}


.toc > ol > li {
    padding-bottom: 0.25rem;
    > a {
        font-weight: 700;
    }
     ol {
        margin-bottom: 0.25rem; 
        li > a {
        color: var(--link-color-alt) 
        }
    }
}


footer {
    border-top: 1px solid var(--grey);
    section {
        border-left: 1px solid var(--grey);
    }
}

.cc-window{opacity:1;transition:opacity 1s ease}.cc-window.cc-invisible{opacity:0}.cc-animate.cc-revoke{transition:transform 1s ease}.cc-animate.cc-revoke.cc-top{transform:translateY(-2em)}.cc-animate.cc-revoke.cc-bottom{transform:translateY(2em)}.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover{transform:translateY(0)}.cc-grower{max-height:0;overflow:hidden;transition:max-height 1s}
.cc-link,.cc-revoke:hover{text-decoration:underline}.cc-revoke,.cc-window{position:fixed;overflow:hidden;box-sizing:border-box;font-family:Helvetica,Calibri,Arial,sans-serif;font-size:16px;line-height:1.5em;display:-ms-flexbox;display:flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;z-index:9999}.cc-window.cc-static{position:static}.cc-window.cc-floating{padding:2em;max-width:24em;-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner{padding:1em 1.8em;width:100%;-ms-flex-direction:row;flex-direction:row}.cc-revoke{padding:.5em}.cc-header{font-size:18px;font-weight:700}.cc-btn,.cc-close,.cc-link,.cc-revoke{cursor:pointer}.cc-link{opacity:.8;display:inline-block;padding:.2em}.cc-link:hover{opacity:1}.cc-link:active,.cc-link:visited{color:initial}.cc-btn{display:block;padding:.4em .8em;font-size:.9em;font-weight:700;border-width:2px;border-style:solid;text-align:center;white-space:nowrap}.cc-highlight .cc-btn:first-child{background-color:transparent;border-color:transparent}.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover{background-color:transparent;text-decoration:underline}.cc-close{display:block;position:absolute;top:.5em;right:.5em;font-size:1.6em;opacity:.9;line-height:.75}.cc-close:focus,.cc-close:hover{opacity:1}
.cc-revoke.cc-top{top:0;left:3em;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}.cc-revoke.cc-bottom{bottom:0;left:3em;border-top-left-radius:.5em;border-top-right-radius:.5em}.cc-revoke.cc-left{left:3em;right:unset}.cc-revoke.cc-right{right:3em;left:unset}.cc-top{top:1em}.cc-left{left:1em}.cc-right{right:1em}.cc-bottom{bottom:1em}.cc-floating>.cc-link{margin-bottom:1em}.cc-floating .cc-message{display:block;margin-bottom:1em}.cc-window.cc-floating .cc-compliance{-ms-flex:1 0 auto;flex:1 0 auto}.cc-window.cc-banner{-ms-flex-align:center;align-items:center}.cc-banner.cc-top{left:0;right:0;top:0}.cc-banner.cc-bottom{left:0;right:0;bottom:0}.cc-banner .cc-message{display:block;-ms-flex:1 1 auto;flex:1 1 auto;max-width:100%;margin-right:1em}.cc-compliance{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:justify;align-content:space-between}.cc-floating .cc-compliance>.cc-btn{-ms-flex:1;flex:1}.cc-btn+.cc-btn{margin-left:.5em}
@media print{.cc-revoke,.cc-window{display:none}}@media screen and (max-width:900px){.cc-btn{white-space:normal}}@media screen and (max-width:414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape){.cc-window.cc-top{top:0}.cc-window.cc-bottom{bottom:0}.cc-window.cc-banner,.cc-window.cc-floating,.cc-window.cc-left,.cc-window.cc-right{left:0;right:0}.cc-window.cc-banner{-ms-flex-direction:column;flex-direction:column}.cc-window.cc-banner .cc-compliance{-ms-flex:1 1 auto;flex:1 1 auto}.cc-window.cc-floating{max-width:none}.cc-window .cc-message{margin-bottom:1em}.cc-window.cc-banner{-ms-flex-align:unset;align-items:unset}.cc-window.cc-banner .cc-message{margin-right:0}}
.cc-floating.cc-theme-classic{padding:1.2em;border-radius:5px}.cc-floating.cc-type-info.cc-theme-classic .cc-compliance{text-align:center;display:inline;-ms-flex:none;flex:none}.cc-theme-classic .cc-btn{border-radius:5px}.cc-theme-classic .cc-btn:last-child{min-width:140px}.cc-floating.cc-type-info.cc-theme-classic .cc-btn{display:inline-block}
.cc-theme-edgeless.cc-window{padding:0}.cc-floating.cc-theme-edgeless .cc-message{margin:2em 2em 1.5em}.cc-banner.cc-theme-edgeless .cc-btn{margin:0;padding:.8em 1.8em;height:100%}.cc-banner.cc-theme-edgeless .cc-message{margin-left:1em}.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn{margin-left:0}