<footer class="mt-2 lg:mt-16">
    <section class="container">
        <div class="pl-6">
            {% include "components/newsletter.njk" %}
            <div class="footer-copyright">
                Made by <a target="_blank" href="https://twitter.com/kregenrek">@kregenrek</a>
                <span class="divider">|</span><a href="/privacy-policy">Privacy Policy</a>
            </div>
        </div>
    </section>
</footer>
<script src="{% webpackAsset 'main.js' %}"></script>