<div class="newsletter pb-4 lg:pb-8">
  <h3>
    Sign up for my newsletter.
  </h3>
  <form action="https://www.getrevue.co/profile/regenrek/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
    <input placeholder="Your email address..." type="email" name="member[email]" id="member_email" class="revue-form-field mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">
    <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="input-reset w-100 w-auto-ns bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray">
  </form>
  <p class="lh-copy measure">
    Subscribe to the Newsletter to receive updates on everything <b>nuxtjs</b>, <b>aws amplify</b> and <b>sass</b> related.
  </p>
<div>