---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<div class="center contain mb0 mb5-ns relative">
    <section class="center ph3 ph0-l mw7-ns pt5-ns">
      <h1>Tagged “{{ tag }}”</h1>
    </section>
</div>

<div class="center mw7-ns mb5">
{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
</div>

<nav class="center ph3 ph0-l mw7-ns mb4">
  <a href="{{ '/' | url }}">← Blog index</a>
</nav>

{% include "components/newsletter.njk" %}