body {
    background-color: #fff;
    font-family: capitolium-news-2, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.15rem;
    line-height: 1.65;
}

.heading {
    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1,.h1, h2,h3,h4,h5,h6,
h3 > a{
    font-family: interstate,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.logo {
    font-size: 1.4rem;
}

h2 {
    margin-top: 2rem;
}

a {
    color: #000;
    text-decoration: none;
}

code {
    background-color: #eee;
}

a, p, ul > li {
    font-weight: 300;
    color: #222;
}

article.post-single a, .link, footer a {
    position: relative;
    color: var(--link-color);
}

article.post-single a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    left: 0;
    background-color: var(--link-color);
    transition: all 100ms ease-out;
    width: 100%;
    opacity: 0;
}

article a:hover:after {
    opacity: 1;
    /*background-image: linear-gradient(90deg,*/
        /*var(--primary-gradient-1),*/
        /*var(--primary-gradient-2)*/
    /*);*/
}


@media (--breakpoint-xl) {
    .f-headline-xl {
        font-size: var(--font-size-subheadline);
    }
}

article p {
    max-width: 30em;
}

pre {
    max-width: 50em;
    font-size: 14px;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

strong {
    font-weight: 600;
}

.tags > span > a,
.time{
    font-family: interstate;
    font-weight: 700;
    font-size: 16px;
}

.date {
    font-size: 12px;
    margin-left: 20px;
    position: relative;
}

.date:before {
    content: '';
    background-color: #eee;
    width: 2px;
    height: 100%;
    top: 0;
    left: -10px;
    bottom: 0;
    position: absolute;
}

footer {
    font-size: .85rem;
    .divider {
        display: inline-block;
        color: #999;
        padding-left: 5px;
        padding-right: 5px;
    }
}

/**
    IMAGES
 */

figure {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0;
}

figure > :first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate3d(-50%,-50%,0);
}

@mixin aspect-ratio($ratio-or-width, $height: 1) {
    &:before { content:''; float: left; padding-bottom: percentage($height/$ratio-or-width); }
    &:after  { content:''; display: table; clear: both;  }
}

[data-aspect-ratio="3:2"] {
    @include aspect-ratio(3,2);
}

[data-aspect-ratio="1:1"] {
    @include aspect-ratio(1,1);
}

[data-aspect-ratio="16:9"] {
    @include aspect-ratio(16,8);
}


/**
    Cookie Banner
 */

.cc-window {
    font-size: 12px;
}
