body {
    font-family: capitolium-news-2,sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #fff;
}

.heading {
    font-family: interstate-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,
h3 > a{
    font-family: interstate,sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    color: #000;
    text-decoration: none;
}

a, p, ul > li {
    /* --font-size-4: 1.25rem; */
    font-size: 1.15rem;
    line-height: 1.65;
    font-family: capitolium-news-2, serif;
    font-weight: 300;
    color: #222;
}

p {
    max-width: 30em;
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

.tags > span > a,
.time{
    font-family: interstate;
    font-weight: 700;
    font-size: 16px;
}

.date {
    font-size: 12px;
    margin-left: 20px;
    position: relative;
}

.date:before {
    content: '';
    background-color: #eee;
    width: 2px;
    height: 100%;
    top: 0;
    left: -10px;
    bottom: 0;
    position: absolute;
}
