@import url("https://use.typekit.net/lvg5atf.css");
@import 'tachyons';

body {
	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: normal;
	background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: normal;
}

a {
	color: #000;
	text-decoration: none;
}

.tags > span > a,
.time{
	font-family: menco;
	font-weight: 700;
	font-size: 16px;
}

.date {
	font-size: 12px;
	margin-left: 20px;
	position: relative;
}

.date:before {
	content: '';
	background-color: #eee;
	width: 2px;
	height: 100%;
	top: 0;
	left: -10px;
	bottom: 0;
	position: absolute;
}

.fonts {
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: brandon-grotesque,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 300;
	font-style: italic;

	font-family: menco,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: menco,sans-serif;
	font-weight: 700;
	font-style: italic;



	font-family: interstate,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: interstate,sans-serif;
	font-weight: 400;
	font-style: italic;

	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: interstate,sans-serif;
	font-weight: 700;
	font-style: italic;

    font-family: interstate-compressed,sans-serif;
    font-weight: 400;
    font-style: normal;


	font-family: interstate-compressed,sans-serif;
	font-weight: 700;
	font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 400;
	font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 400;
	font-style: italic;


    font-family: interstate-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;

	font-family: interstate-condensed,sans-serif;
	font-weight: 700;
	font-style: italic;

}
