---
title: regenrek.com
section: home
layout: base
---


<div class="center contain mb0 mb5-ns relative">
    <section class="center ph3 ph0-l mw7-ns pt5-ns">
        <h1 class="">.regenrek</h1>
        <p class="lh-copy measure">
            Hey! I write about my personal experiences and challenges building saas products with modern web technologies.
        </p>
    </section>
</div>

<div class="center mw7-ns mb5">

    {{ layoutContent | safe }}

    {% set postslist = collections.posts %}
    {{ collection.posts }}
    {% include "components/postslist.njk" %}
</div>

{% include "components/newsletter.njk" %}
